@import url(https://fonts.googleapis.com/css?family=Lusitana);

body {
  background-color: #f5f5f5;
  font-family: 'Lusitana', serif;
  line-height: 1.5;
  color: #6f6f6f;
  text-align: center;
  transition: background-color 0.5s;
}

/* These classes are NOT currently added anywhere in HTML (brogue and stationary)*/
.brogue-active {
  background-color: #e6e7d9;
}

.stationary-active {
  background-color: #D6D9D9;
}

header {
  background-image: url(../images/header.jpg);
  /* Background image to header.jpg */
  height: 675px;
  /* Hight to 675px */
  background-position: center;
  /* Show the center of the background image */
  background-size: cover;
  /* Make background image stretch to cover the header */
  padding-top: 50px;
  /* Add 50px space inside the top of the header */
}

h1 {
  margin-bottom: 20px;
}

nav a {
  color: white;
  font-size: 18px;
  text-decoration: none;
  /* Removes underline */
  padding: 0 15px;
}

nav a:hover {
  text-decoration: underline;
}

.introduction {
  border-bottom: 2px solid #e6e6e6
}

.container {
  padding-top: 125px;
  padding-bottom: 125px;
}

h3 {
  text-transform: uppercase;
  letter-spacing: 4px;
  margin-bottom: 30px;
}

h2 {
  font-size: 34px;
  padding: 0 80px;
  /* Applied here to make the text appear on 4 lines over 3  */
}

p {
  margin: 30px 0;
  padding: 0 80px;
}

section img {
  /* Only applies to images inside of the sections */
  margin-bottom: 20px;
}

.services {
  background-color: white;
}

.services p {
  padding: 0 20px;
}

footer {
  background-color: #f8d5b5
}

h4 {
  color: #ffffff;
  margin-top: 30px;
}

footer p {
  margin: 0 0 20px 0;
}

footer a {
  color: #6f6f6f
}

small {
  color: #ffffff
}

.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  /* Fix the lightbox to the page so it can't be scrolled */
  width: 100%;
  height: 100vh;
  /* Make the lightbox fill the screen */
  background-color: rgba(0, 0, 0, 0.8);
  /* Add a semi-transtrapent dark background */
  /* rgba stands for Red Green Blue and Alpha. It allows us to create semi-tranparent colours. The channels have a minimum value of 0 and a maximum of 225. The Alpha channel sets transparecy - 1 being completly opaque, 0 being completely tranparen. This is the only colour representation that allows tranparency
  /* Hide the lightbox */
  height: 0;
  opacity: 0;
  overflow: hidden;
  /* We would usual use display: none; to hide an element, but this cant be animated. so instead... */
  /* Add a smototh transition between opacity & height */
  transition: height 0s, opacity 0.5s;
}

.fadeIn {
  height: 100vh;
  opacity: 1;
}

.lightbox img {
  /* To put the lightbox image in the middle of the screen */
  position: absolute;
  /* Note that images are moved from their top left hand corner */
  top: 50%;
  left: 50%;
  /* To get the element into the middle of the screen, we move it half its width & height */
  transform: translate(-50%, -50%);
}

/* Mobile Styles */
@media screen and (max-width: 480px) {

  /* Make the nav a stack */
  nav a {
    display: block;
    padding: 5px 0;
  }

  /* Reduce the font-size of our h2 to 24px */
  h2 {
    font-size: 24px;
    padding: 0 0 0 0;
  }

  /* Remove the paragraph padding */
  p {
    padding: 0 0 0 0;
  }

  /* Decrease the container padding on top and bottom */
  .container {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}